*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}
.container {
  padding: 15px;
  background-color: white;
  border-radius: 1em;
}
.jeu {
  height: 543px;
  width: 80vw;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  background: url(./img/noel2.jpg) center / cover;
}

.button-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.buttonSet{
  display: flex;
  gap: 40px;
  margin-top: 10px;
}
.set {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
}
.rules {
  position: absolute;
  text-align: center;
  top: 40%;
  border: 1px solid white;
  width: 500px;
  display: none;
  z-index: 5;
}
.rules div p {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.obstacle1 {
  height: 25px;
  width: 25px;
  border: 1px solid black;
  background-color: red;
  border-radius: 3em;
  position: absolute;
  top: 518px;
  left: 1070px;
}
.animationObstacle1 {
  animation: parcoursObstacle 2s infinite;
}
.obstacle2 {
  height: 20px;
  width: 50px;
  border: 1px solid black;
  position: absolute;
  background-color: red;
  top: 450px;
  left: 1070px;
}
.animationObstacle2 {
  animation: parcoursObstacle 2s infinite;
}

.personnage {
  position: absolute;
  top: 420px;
  height: 120px;
}
/* .personnage2 {
  position: absolute;
  top: 465px; 
  left: -220px; 
} */
.animationPerso {
  animation: persoSaut 1s ease-in-out;
}

@keyframes parcoursObstacle {
  0% {
    left: 1070px;
  }
  100% {
    left: -200px;
  }
}
@keyframes parcoursObstacle2 {
  0% {
    left: 1070px;
  }
  100% {
    left: -200px;
  }
}

@keyframes persoSaut {
  0% {
    top: 395px;
  }
  50% {
    top: 330px;
  }
  100% {
    top: 395px;
  }
}

@media screen and (max-width:688px) {
  .rules {
    width: 250px;
    padding: 10px;
    line-height: 20px;
  }
}
@media screen and (max-width: 950px) {
  .animationObstacle1 {
    animation: parcoursObstacle 3s infinite;
  }
}

@media screen and (max-width: 1100px) {
  .personnage {
    position: absolute;
    top: 485px;
    height: auto;
  }
  @keyframes persoSaut {
    0% {
      top: 455px;
    }
    50% {
      top: 410px;
    }
    100% {
      top: 455px;
    }
  }
  .animationObstacle2 {
    animation: none;
  }
  .obstacle1 {
    height: 20px;
    width: 20px;
    top: 522px;
  }
}