*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Police d'écriture : */
@font-face {
    font-family: "Aneliza-Bold";
    src: url("./fonts/Aneliza-Bold/Aneliza-Bold.ttf");
    
}
@font-face {
    font-family: "Aneliza-Light";
    src: url("./fonts/Aneliza-Bold/Aneliza-Light.ttf");
}
@font-face {
    font-family: "Aneliza-SemiBold";
    src: url("./fonts/Aneliza-Bold/Aneliza-SemiBold.ttf");
}
@font-face {
    font-family: "Aneliza-Medium";
    src: url("./fonts/Aneliza-Bold/Aneliza-Medium.ttf");
}

:root {
    --font--Aneliza : "Aneliza-Bold";
    --font--AnelizaLight : "Aneliza-Light";
    --font--AnelizaSemiBold : "Aneliza-SemiBold";
    --font--AnelizaMedium : "Aneliza-Medium";
}


body {
    height: 100vh;
}

/* Header */
header {
    background: url("./images/header/headerbg.jpg") center / cover;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 120px;
}
.espaceClient{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: rgb(53, 1, 53);
    border: 2px solid white;
}
.espaceClient a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.5em;
    padding: 5px;
    width: 116px;
}
.liensSociaux {
    display: flex;
}
.lien {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 40px;
}
.lien i {
    font-size: 1.5em;
}
.lien:first-child {
    background-color: rgb(155, 235, 35);
}
.lien:last-child { 
    background-color: rgb(103, 170, 1);
}
.lien:nth-child(2) {
    background-color: rgb(119, 196, 5);
}

.hautHeader {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.hautHeader p {
    margin: auto 20px;
    font-size: 1.5em;
    font-family: var(--font--Aneliza);
}
.container img {
    height: 10vh;
}
.spanWhite {
    color: white;
}
.spanGreen {
    color: rgb(106, 168, 12);
}
.spanPurple {
    color: rgb(167, 55, 167);
}
.spanUppercase {
    text-transform: uppercase;
}

.spanPourcentageContainer {
    position: relative;
    top: 20px;
    float: left;
}
.spanSloganMid {
    font-size: 1.5em;
    font-family: var(--font--Aneliza);
}
.spanGros {
    position: relative;
    bottom: 10px;
    right: 10px;
    font-size: 3em;
    font-family: var(--font--Aneliza);
}
.spanVente {
    align-self: flex-start;
}
.spanPetit {
    font-size: 1.2em;
    font-family: var(--font--Aneliza);
    vertical-align: text-bottom;
    position: relative;
    right: 0.2em;
}
.spanPourcentage {
    position: absolute;
    font-size: 2em;
    bottom: 1.1em;
    left: 0.5em;
    vertical-align: text-top;
    font-family: var(--font--Aneliza);
}
.spanSeulement {
    font-size: 2.6em;
    font-family: var(--font--Aneliza);
}
.slogan {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
}
.slogan p {
    line-height: 1.2; 
    margin-left: 10px;
}
.center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.explication {
    text-align: center;
    color: white;
    font-size: 0.5em;
    margin: 30px 30px 10px 30px;
    white-space: nowrap;
}

.savoirPlus {
    background-color: rgb(93, 145, 14);
    padding: 10px 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: var(--font--Aneliza);
    color: white;
    text-decoration: none;
}
.savoirPlus a {
    color: white;
    text-decoration: none;
    font-family: var(--font--Aneliza);
    text-transform: uppercase;
    font-size: 0.8em;
}


/* Les liens */
.linkInfo {
    background: rgb(68, 1, 68);
}
.link{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.link a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6em;
    padding: 20px 14px;
    font-family: var(--font--Aneliza);
}
.link a:hover {
    background-color: purple;
}

/*  Description de l'agence */
.descriptionAgence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explicationAgence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.explicationAgence h1 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: var(--font--Aneliza);
    color: rgb(68, 1, 68);
    margin-bottom: 20px;
}
.explicationAgence p {
    text-align: center;
    font-size: 0.8em;
    font-family: var(--font--AnelizaSemiBold);
}
.textColor {
    color: rgb(68, 1, 68);
}

/* Section, les plus */
.sectionPlus {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.lesPlus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px);
    margin-bottom: 20px;
}
.lesPlus div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(68, 1, 68);;
    border-radius: 5em;
    height: 45px;
    width: 45px;
    background: rgb(68, 1, 68);;
    color: rgb(124, 197, 14);
    font-size: 1.5em;
    font-family: var(--font--Aneliza);
}
.lesPlus p {
    text-align: center;
    font-size: 1.3em;
    font-family: var(--font--AnelizaSemiBold);
    color: rgb(68, 1, 68);
}


/*  Services en ligne */
.ligneService {
    display: grid;
    background: url("./images/header/headerbg.jpg") bottom / contain repeat;
}
.ligneService h2 {
    color: white;
    font-family: var(--font--AnelizaMedium);
    margin: 20px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
.colorPlus {
    background: #b56aff;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}


/* Vous pouvez également ajuster la marge au besoin pour les autres éléments dans .service */
.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    background: white;
    gap: 70px;
    margin: 10px;
}


.nameService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.nameService i{
    font-size: 2.5em;
}
.nameService h4 {
    font-size: 1.5em;
    font-family: var(--font--AnelizaMedium);
    color: #b56aff;
    text-transform: uppercase;
}
.textService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.textService p {
    font-size: 0.8em;
    text-align: center;
    font-family: var(--font--Aneliza);
    color: #b56aff;
}

/* Styles spécifiques à la section "Que recherchez-vous ?" */
.recherche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(218, 233, 238);
}

.rechercheContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.recherche h2 {
    font-family: var(--font--Aneliza);
    margin-top: 20px;
}

.bien p,
.localisation p {
    font-family: var(--font--AnelizaMedium);
    text-transform: uppercase;
    color: rgb(68, 1, 68);
    font-size: 1em;
    margin: 5px;
}

.localisation p {
    text-align: start;
}

.budget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px; 
}

.budget p {
    font-family: var(--font--AnelizaMedium);
    text-transform: uppercase;
    color: rgb(68, 1, 68);
    font-size: 1em;
    margin: 5px;
}

.budget div {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.budget div span input {
    width: 120px;
    margin: 0 5px;
}
.budget div span input::placeholder {
    color: rgb(68, 1, 68); 
    font-family: var(--font--Aneliza);
    text-align: end;
    opacity: 1;
}
.lancerRecherche {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: .8em;
}

/* Section maisons */
.immobilierSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.immobilierSection h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font--AnelizaSemiBold);
    margin: 20px;
    font-size: 1.3em;
}
.selectionImmobiliers {
    display: flex;
    justify-content: space-evenly;
}
.selectionImmobiliers a {
    font-family: var(--font--AnelizaSemiBold);
    color: rgb(68, 1, 68); 
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.imageMaisons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Ajustez la valeur selon votre préférence pour l'espacement horizontal */
    margin: auto 10px;
}

.image-maison{
    width: 100%; 
    max-width: 350px; 
    height: 300px; 
}

.plusDeBiens {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    align-self: center;
}

/* Création hover des maisons avec javascript */
.containImage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.descriptionElement {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    background: url("./images/header/headerbg.jpg") center / cover;
    opacity: 0.7;
    color: white;
}

.descriptionElement p{
    font-family: var(--font--Aneliza);
    font-size: 2em;
    margin-top: 50px;
}
.ville {
    font-family: var(--font--Aneliza);
    font-size: 1.5em;
}
.prix {
    font-size: 2em;
    line-height: 2em;
    font-family: var(--font--Aneliza);

} 
.btnImage {
    border: none;
    cursor: pointer;
}

/* Section contact */
.contact {
    background: rgb(218, 233, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact h2 {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(68, 1, 68); 
    font-family: var(--font--AnelizaMedium);
}
.coordonnees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px;
}
.coordonneesName p{
    font-family: var(--font--AnelizaSemiBold);
    color: rgb(68, 1, 68); 
    font-size: 1.2em;
}
.message {
    margin: 20px;
}
#messageInput {
    width: 90vw;
    height: 100px;
}

/* footer */

.liensFooter {
    background: rgb(68, 1, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.liensFooter a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: var(--font--AnelizaMedium);
    text-transform: uppercase;
    padding: 20px 14px;
}
.liensFooter a:hover {
    background: purple;
 }
.realisationSite p {
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    color: rgb(68, 1, 68); 
    font-family: var(--font--AnelizaSemiBold);
}











@media screen and (min-width: 620px) {
    body {
        font-size: 15px;
    }
    .hautHeader {
        flex-direction: row;
    }
    .slogan {
        margin-top: 20px;
    }
    .center {
        gap: 0;
    }
    .center p {
        text-align: start;
    }
    .sectionPlus {
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .imageMaisons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
        margin: 0;
    }
    .imageMaisons {
        object-fit: cover;
    }
    .ligneService {
        height: 100%;
    }
    .allService {
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1046px) {
    .imageMaisons {
        grid-template-columns: auto auto auto;
        margin: auto 30px;
    }
}

@media screen and (min-width: 1100px) {
   
    header {
    background: 
    url("./images/header/headerhouse.png") right / contain no-repeat,  /* attention, à l'ordre des images, l'image qui doit être au dessus doit être en première */
    url("./images/header/headerbg.jpg") center / cover no-repeat;
    z-index: 2, 1;
    height: 50%;
    }
    
    
    .container {
        margin-left: 100px;
    }
    .navigation {
        flex-direction: row;
        align-items: center;
        right: 200px;
        gap: 5px;
    }
    .espaceClient {
        position: relative;
        right: 15px;
        bottom: 4px;
        z-index: 10;
        text-align: center;
        padding: 2px 5px;
    }
    .espaceClient a {
        font-size: 0.7em;
        font-family: var(--font--Anelizia);

    }
    .linkInfo {
        position: relative;
        bottom: 20px;
        margin: auto 100px;
    }
    .explicationAgence h1 {
        margin: 20px;
    }
    .ligneService {
        background: url("./images/header/headerbg.jpg") bottom / cover no-repeat;
        height: auto;
    }
    .nameService h4 {
        font-size: 1em;
        text-align: center;
    }
    .textService p {
        margin-bottom: 30px;
        padding: 10px;
    }
    .allService {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
     }
     .rechercheContainer {
        gap: 200px;
     }
     .coordonnees {
        gap: 70px;
     }
     .liensFooter {
        margin: auto 100px;
     }
     .liensFooter a {
        font-size: 0.7em;
     }
}